/* @config "../../tailwind.config.js"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* (optional) your base tweaks */
@layer base {
  html { font-family: "Instrument Sans", ui-sans-serif, system-ui, sans-serif; }
}


.fi-global-search .fi-input {
  @apply rounded-xl ring-1 ring-gray-200 dark:ring-gray-800;
}
